@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  font-family: 'Raleway', sans-serif;
}
#bg{
	background: #000 url(../img/sky.jpg) no-repeat top center;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        height: 100vh; 
        background-attachment: fixed;    
}
#moon{
width: 70%;
height: 70%;
margin: 3% auto;
z-index: 2;
height: 100vh;
}
#l1 img{
opacity: 0.3;
}
.menu {
 text-align: right;
}
.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}
.menu__icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }
nav{
  margin: 4em auto;
	display: flex;
	justify-content: center;
	
}
.menu__links-item {
    display: inline-block;
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px; 
    position: relative;
  transition: all .2s;
  overflow: hidden;
  padding: 0 20px 0 20px;
}

/*hover-effect start*/
nav a:hover {
  color: lightgrey;
}
nav a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 100%;
  width: 100%;
  height: 1px;
  background: white;
  transition: all .4s;
  transition-delay: .2s;
}
nav a:hover::after {
  right: 0%;
}
/*hover-effect end*/
.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu.menu_state_open nav {
  display: block;  
}

@media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
    margin: 20px -60px; 
  }
  nav {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 57px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}

#section-about{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
}
.img-about{
width: 50%;  
}
.text-about{
color: white;
margin: 100px 0 0 50px;
width: 40%;
}
.tagline {
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.5;
}
h2{
  font: 3.5em/1.2em 'MillerD';
padding-top: 60px;
}
p{
display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-top: 50px;
}

.parallax{
  background: url(../img/sky.jpg) no-repeat fixed center;
}
.parallax-inner{
  padding-top: 20%;
  padding-bottom: 20%;
}
.planet-earth img{
  width: 300px;
  margin-left: 450px;
}


