@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body{
  font-family: 'Raleway', sans-serif;
}
#bg{
  background: #000 url(../img/sky.jpg) no-repeat top center;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        height: 100vh !important; 
        height: 100%;
        background-attachment: fixed;   
}
#moon{
width: 70%;
/*z-index: 2;*/
display: flex;
margin: 0 auto;
}
#l1 img{
opacity: 0.3;
}
.menu {
 text-align: right;
}
.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}
.menu__icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }
nav{
  margin: 4em auto;
  display: flex;
  justify-content: center;
}
.logo{
  width: 50px;
  position: absolute;
  top: 2em;
  left: 3em;
}
.menu__links-item {
    display: inline-block;
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px; 
    position: relative;
  transition: all .2s;
  overflow: hidden;
  padding: 0 20px 0 20px;
}
.learn-more {
position: absolute;
bottom: 20px;
left: 50%;
margin-left: -100px;
}
.learn-more a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
.learn-more i{
display: flex;
justify-content: center;
}
/*hover-effect start*/
nav a:hover {
  color: lightgrey;
}
nav a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 100%;
  width: 100%;
  height: 1px;
  background: white;
  transition: all .4s;
  transition-delay: .2s;
}
nav a:hover::after {
  right: 0%;
}
/*hover-effect end*/
.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.menu.menu_state_open nav {
  display: block;  
}
@media screen and (max-width: 999px) {
.text-about{
  width: 100% !important; 
}
.galax {
  display: none;
}
  .menu__icon{
    display: inline-block;
    margin: 20px; 
  }
  nav {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 57px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  .menu__links-item {
    width: 20%;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}



.content {
  background: black;
  height: 100vh;
  height: 80%;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: inline-flex;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 200px;
}

.box {
  will-change: transform;
}
.box >.galax {
  width: 50%;
}
.text-about{
  margin: 100px 0 0 50px;
  color: white;
  width: 50%;
}
.box > p{
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.box > p:last-child{
  padding-top: 50px;
}
h2{
  font: 3.5em/1.2em 'MillerD';
  /*padding-top: 60px;*/
}
.planet-earth{
  position: absolute;
  top: 1200px;
  opacity: 0.8;
}

.parallax-cont-3{
  background: url(../img/sky.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
}
.parallax-inner{
  height: 100%;
/*  overflow:hidden; */
}
.parallax-inner h2{
  padding-top: 60px;
  text-align: center;
  color: #93889a;
}
#skills{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
#skills img{
width: 200px;
margin: 20px 50px;
}
/*image draggable start*/
/*.slider-wrapper h1{
  text-align: center;
  color: white;
  padding-top: 40px;
}*/
.slider-wrapper {
  width: 100%;
  height: 80vh;
  position: relative;
  background: #000 url(../img/nebula-transparent-4.png) repeat fixed center;
}

.before-wrapper {
  display: block;
  overflow: hidden;
  width: auto;
  height: 100%;
  position: relative;
  background: url(../img/planet-transparent.png) no-repeat center;
  background-size: 30%;
}

.before-wrapper:before {
  display: block;
  content: '';
  width: 100%; 
  height:100%;
}

.after-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.after-image {
  display: block;
  width: auto;
  height: 100%;
  position: relative;
-webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../img/planet-trans-jupiter.png) no-repeat center;
  background-size: 30%;
}
/*image draggable end*/

/*Examples of work start*/
/*.examplesOfWork{
background: url(../img/sky.jpg) no-repeat fixed center;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
height: 40vh;
color: #4CDEF5;
}
.examplesOfWork{
padding-top: 60px;
text-align: center;
color: #93889a;
}
.flex-img{
  height: 70%;
  display: flex;
  justify-content: center;
}
.flex-img img{
height: 100%; 
margin: 30px ;
}*/
.gallery {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background: url(../img/sky.jpg) no-repeat fixed center;
-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
}
.gallery h2{
  color: #93889a;
}
.gallery li {
  width: 330px;
  max-width: 33%;
  min-height: 100%;
  text-align: center;
  height: 255px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  background-color: black;
}
.gallery li:nth-child(2) img {
  margin: 0;
  display: inline-block;
  float: right;
}
.gallery li .name {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 5px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: .1em;
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.gallery li .name .title {
  display: block;
  text-transform: none;
  font-style: italic;
  font-size: 80%;
  color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
.gallery li:hover .name {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.gallery li:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.gallery li:hover img {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  background-position: top top;
  -webkit-filter: grayscale(0.4) blur(2px);
  filter: grayscale(0.4) blur(2px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.gallery li:hover:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.gallery li img {
  display: block;
  width: 421px;
  height: 255px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.gallery li:nth-child(3) img{
  width: 421px;
  height: 215px;
  margin: 25px auto;
}
/*Examples of work end*/
#team{
  background: #000 url(../img/nebula-transparent.png) repeat fixed center;
  height: 60vh;
  height: 100%;
  text-align: center;
  color: #4CDEF5;
}
#team h2{
  padding-top: 50px;
  color: #FFE4E1;
}
#team h3{
  padding: 20px ;
  color: #a4708e;
}
.team-photo{
  width: 90%;
  margin: 30px ;
  display: flex;
  justify-content: center;
}

/*Contact form start*/
.contact-form {
  margin: 60px auto 120px;
  text-align: center;
  padding: 50px 0 50px;
  width: 80%;
  max-width: 1100px;
  padding-top: 20px;
}
.contact-form h1 {
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.contact-form p{
  padding-bottom: 20px;
  font-size: 1.5rem;
}
form {
  width: 58.3333333333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 2%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #a4708e;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
  height: 18px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #93889a;
  color: #faf3e3;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #93889a;
}
form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: #faf3e3;
}
form input[type="submit"] {
  background: #93889a;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #93889a;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}

/*Contact form end*/

/*Footer*/
footer {
  height: 17vh;
  height: 100%;
  display: flex;
  color: #FFF;
  background: #322f30;
}
p > a{
  color: #d9d9d9;
}
p > a:hover{
    color: #800000;
    text-decoration:  underline;
}
.location{
  width: 33.33%;
  text-align: center;
  margin-top: 20px;
}
.location > p{
  margin-top: 20px;
}
._16 {
  font-size: 1.6em;
}
.fa-envelope{
font-size: 1.2em;
color: white;
width: 100%;
margin-top: 20px;
}
.fa-envelope span{
  padding-left: 10px;
}
.footer-social-icons {
  text-align: center;
    width: 33.33%;
    display:block;
    margin-top: 20px;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-github {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: grey;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #D92E7F;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
.contact-info{
  width: 33.33%;
  margin-top: 20px;
}
.contact-info h4{
text-align: center;
}
.contact-info p {
 margin: 40px 15px 15px 0;
 text-align: right;
}


@media only screen and (max-width: 767px){
.container12, .container16 {
    width: 100%;
}
}

@media screen and (max-width: 999px) {
/*#moon{
width: 90%;
height: 90%;
}*/
.text-about{
  width: 100% !important; 
}
.galax {
  display: none;
}
  .menu__icon{
    display: inline-block;
    margin: 20px; 
  }
  nav {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 57px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1678px){
#moon{
margin-top: -50px;
width: 60%;
}
}
@media screen and (min-width: 704px) and (max-width: 1024px){
.slider-wrapper {
  height: 70vh;
}
}
@media screen and (max-width: 1024px){
/*  #moon{
width: 100%;
margin-top: 100px;
}*/
/*.planet-earth{
  top: 300px;
}*/

.before-wrapper {
  background-size: 70%;
}
.after-image {
  background-size: 70%;
}
  #skills{
  width: 40%;
}
#skills img{
width: 70%;
margin: 20px;
}
/*draggable image*/
.slider-wrapper {
  height: 70vh;
}
.examplesOfWork{
height: 100%;
}
.flex-img{
  flex-direction: column;
  align-items: center;
}
.flex-img img{
  width: 50%;
height: 50%; 
margin: 30px ;
}
.team-photo {
  flex-direction: column;
}
.wrapper{
  top: 5px;
}
.gallery li {
  display: flex;
  flex-direction: column;
align-items: center;

}
.contact-form{
  margin-top: 150px;
  width: 100%;
}
form .field label + span {
  font-size: 1.7em;
}
form .field input[type="text"], form .field textarea{
  padding-left: 25%;
}
form .field label{
  padding-right: 20px;
}
form{
  width: 85%;
  margin-left: 5%;
}
footer {
flex-direction: column;
align-items: center;
}
/*form .field input[type="text"], 
form .field textarea {
  padding-left: 23%;
}*/
/*form .field input[type="text"]:focus + label, 
form .field input[type="text"].focused + label, 
form .field textarea:focus + label, 
form .field textarea.focused + label{
  width: 20%;
}*/
}
